* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #000428, #3ac2e8);
  background-size: 200% 200%;
  animation: gradientFlow 20s ease infinite;
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  color: #00eaff;
  text-shadow: 1px 1px 6px #000;
  animation: fadeInDown 1s ease-in-out;
  margin: 0;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 1.5rem 1rem;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;                
  text-decoration: none;       
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #00eaff;                             
}
.ejemplo1{
  background: #1e1e2f;
  color: #c7d2fe;
  padding: 25px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px #4f46e5aa;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}
.ejemplo2{
      background: #1e1e2f;
  color: #c7d2fe;
  padding: 25px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px #4f46e5aa;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: content-box;
}
.ejemplo3{
       background: #1e1e2f;
  color: #c7d2fe;
  padding: 25px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px #4f46e5aa;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: padding-box;
}
.ejemplo4{
          background: #1e1e2f;
  color: #c7d2fe;
  padding: 25px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px #4f46e5aa;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}
.ejemplo5{
          background: #1e1e2f;
  color: #c7d2fe;
  padding: 25px;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px #4f46e5aa;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: margin-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}